.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  background: #fafafa;
  font-size: 14px;
  color: #252B42;
  font-weight: 500;
  font-family: Montserrat;
}

.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}
.header-block .header-block__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 142.5%;
}
.header-block .header-block__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
@media (max-width: 992px) {
  .header-block .header-block__title {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .header-block .header-block__title {
    font-size: 30px;
  }
}
.header-block .header-block__sub-title {
  color: #737373;
  line-height: 142.8571428571%;
}

/*_____________________________________________________________________________________________________*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 479px) {
  .header .header__container {
    min-height: 70px;
  }
}
.header .header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
.header .header__menu {
  margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
  .header .header__menu {
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 767px) {
  .header .header__menu {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 479px) {
  .header .header__menu {
    margin: 0px 0px 0px 20px;
  }
}
.header .header__menu .menu {
  padding: 5px 0;
}
.header .header__menu .menu__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header__menu .menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}
.header .header__menu .menu__link {
  color: #737373;
  font-weight: 600;
  line-height: 171.4285714286%;
}
.header .header__menu .menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 479px) {
  .header .header__menu .menu__link {
    font-size: 18px;
  }
}

/*_____________________________________________________________________________________________________*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.page .main-block {
  position: relative;
}
.page .main-block .main-block__container .main-block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
.page .main-block .main-block__container .main-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}
@media (max-width: 992px) {
  .page .main-block .main-block__container .main-block__body {
    padding: 120px 0px 191px 0px;
  }
}
@media (max-width: 479px) {
  .page .main-block .main-block__container .main-block__body {
    padding: 115px 0px 160px 0px;
  }
}
.page .main-block .main-block__container .main-block__body .main-block__title {
  font-size: 58px;
  line-height: 137.9310344828%;
  letter-spacing: 0.2px;
  font-weight: 800;
}
@media (max-width: 992px) {
  .page .main-block .main-block__container .main-block__body .main-block__title {
    font-size: 42px;
  }
}
.page .main-block .main-block__container .main-block__body .main-block__text {
  color: #737373;
  font-size: 20px;
  line-height: 150%;
}
@media (max-width: 479px) {
  .page .main-block .main-block__container .main-block__body .main-block__text {
    color: #4d4d4d;
  }
}
.page .main-block .main-block__container .main-block__body .main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px 0;
}
.page .main-block .main-block__container .main-block__body .main-block__buttons .main-block__button {
  border-radius: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2px;
  font-weight: 700;
  text-align: center;
  line-height: 200%;
  padding: 5px 36px;
  margin: 10px 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (min-width: 479px) {
  .page .main-block .main-block__container .main-block__body .main-block__buttons .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}
@media (max-width: 479px) {
  .page .main-block .main-block__container .main-block__body .main-block__buttons .main-block__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.page .main-block .main-block__container .main-block__body .main-block__buttons .main-block__button_orange {
  background: #ff7b47;
  color: #fff;
}
.page .main-block .main-block__container .main-block__body .main-block__buttons .main-block__button_orange:hover {
  background-color: #fff;
  color: #ff7b47;
}
.page .main-block .main-block__container .main-block__body .main-block__buttons .main-block__button_border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}
.page .main-block .main-block__container .main-block__body .main-block__buttons .main-block__button_border:hover {
  background-color: #0d5c63;
  color: #fff;
}
.page .main-block .main-block__container .main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1300px) {
  .page .main-block .main-block__container .main-block__image img {
    -o-object-position: right;
       object-position: right;
  }
}
@media (max-width: 992px) {
  .page .main-block .main-block__container .main-block__image img {
    opacity: 0.5;
  }
}
.page .page__services {
  position: relative;
  z-index: 2;
  margin: -111px 0px 0px 0px;
}
@media (min-width: 670px) {
  .page .services .services__container .services__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px -15px;
  }
}
.page .services .services__container .services__body .sevices__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
@media (max-width: 992px) {
  .page .services .services__container .services__body .sevices__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0px 0px 30px 0px;
  }
  .page .services .services__container .services__body .sevices__column:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .page .services .services__container .services__body .sevices__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (min-width: 670px) {
  .page .services .services__container .services__body .sevices__column {
    padding: 0px 15px;
  }
}
.page .services .services__container .services__body .sevices__column .services__item {
  height: 100%;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  padding: 35px;
}
@media (min-width: 479px) {
  .page .services .services__container .services__body .sevices__column .services__item {
    padding: 25px;
  }
}
.page .services .services__container .services__body .sevices__column .item-service > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.page .services .services__container .services__body .sevices__column .item-service .item-service__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
  line-height: 133.3333333333%;
}
.page .services .services__container .services__body .sevices__column .item-service .item-service__text {
  color: #737373;
  line-height: 142.8571428571%;
}
.page .services .services__container .services__body .sevices__column .item-service__green {
  background-color: #0d5c63;
}
.page .services .services__container .services__body .sevices__column .item-service__green .item-service__title {
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
  line-height: 133.3333333333%;
}
.page .services .services__container .services__body .sevices__column .item-service__green .item-service__text {
  color: #ffffff;
  line-height: 142.8571428571%;
}
.page .advantages {
  padding: 80px 0;
}
@media (max-width: 992px) {
  .page .advantages {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .page .advantages {
    padding: 40px 0;
  }
}
.page .advantages .advantages__container .advantages__header {
  margin: 0px 0px 50px 0px;
}
@media (max-width: 767px) {
  .page .advantages .advantages__container .advantages__header {
    margin: 0px 0px 25px 0px;
  }
}
.page .advantages .advantages__container .advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px -30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page .advantages .advantages__container .advantages__body .advantages__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 1020px) {
  .page .advantages .advantages__container .advantages__body .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 560px) {
  .page .advantages .advantages__container .advantages__body .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.page .advantages .advantages__container .advantages__body .advantages__column .advantages__item {
  font-weight: 700;
  background-color: #fff;
  padding: 28px;
  text-align: center;
}
.page .advantages .advantages__container .advantages__body .advantages__column .advantages__item > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.page .advantages .advantages__container .advantages__body .advantages__column .advantages__item .advantages__icon {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page .advantages .advantages__container .advantages__body .advantages__column .advantages__item .advantages__value {
  font-size: 40px;
  line-height: 142.5%;
}
.page .advantages .advantages__container .advantages__body .advantages__column .advantages__item .advantages__text {
  letter-spacing: 0.1px;
  color: #737373;
  font-size: 16px;
  line-height: 150%;
}
.page .practice {
  padding: 125px 0px 80px 0px;
}
@media (max-width: 993px) {
  .page .practice {
    padding: 40px 0px 80px 0px;
  }
}
@media (max-width: 767px) {
  .page .practice {
    padding: 0px 0px 40px 0px;
  }
}
.page .practice .practice__container .practice__header {
  margin: 0px 0px 45px 0px;
}
@media (max-width: 767px) {
  .page .practice .practice__container .practice__header {
    margin: 0px 0px 25px 0px;
  }
}
.page .practice .practice__container .practice__body {
  margin: 0px -20px -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page .practice .practice__container .practice__body .practice__column {
  padding: 0px 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 1040px) {
  .page .practice .practice__container .practice__body .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 630px) {
  .page .practice .practice__container .practice__body .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.page .practice .practice__container .practice__body .practice__column .item-practice {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page .practice .practice__container .practice__body .practice__column .item-practice .item-practice__content {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.page .practice .practice__container .practice__body .practice__column .item-practice .item-practice__content .item-practice__link {
  color: inherit;
  display: inline-block;
}
.page .practice .practice__container .practice__body .practice__column .item-practice .item-practice__content .item-practice__link:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.page .practice .practice__container .practice__body .practice__column .item-practice .item-practice__content .item-practice__link:hover {
  text-decoration: underline;
}
.page .practice .practice__container .practice__body .practice__column .item-practice .item-practice__content .item-practice__link .item-practice__title {
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
}
.page .practice .practice__container .practice__body .practice__column .item-practice .item-practice__content .item-practice__text {
  color: #737373;
  line-height: 142.8571428571%;
}
.page .practice .practice__container .practice__body .practice__column .item-practice .item-practice__image {
  display: block;
  padding: 0px 0px 60% 0px;
}
.page .whoweare {
  background: #fff;
  padding: 80px 0px 130px 0px;
}
@media (max-width: 950px) {
  .page .whoweare {
    padding: 50px 0px 50px 0px;
  }
}
@media (max-width: 767px) {
  .page .whoweare {
    padding: 20px 0px 50px 0px;
  }
}
.page .whoweare .whoweare__container .whoweare__header {
  margin: 0px 0px 100px 0px;
}
@media (max-width: 950px) {
  .page .whoweare .whoweare__container .whoweare__header {
    margin: 0px 0px 30px 0px;
  }
}
.page .whoweare .whoweare__container .whoweare__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 950px) {
  .page .whoweare .whoweare__container .whoweare__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
.page .whoweare .whoweare__container .whoweare__body .whoweare__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57.361376673%;
          flex: 0 0 57.361376673%;
  position: relative;
  padding: 0px 0px 42.2562141491% 0px;
}
@media (max-width: 950px) {
  .page .whoweare .whoweare__container .whoweare__body .whoweare__video {
    padding: 0px 0px 53.5372848948% 0px;
  }
  .page .whoweare .whoweare__container .whoweare__body .whoweare__video:not(:last-child) {
    margin: 50px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .page .whoweare .whoweare__container .whoweare__body .whoweare__video:not(:last-child) {
    margin: 30px 0px 0px 0px;
  }
}
.page .whoweare .whoweare__container .whoweare__body .whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.page .whoweare .whoweare__container .whoweare__body .whoweare__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px 0px 0px 121px;
}
.page .whoweare .whoweare__container .whoweare__body .whoweare__content > :not(:last-child) {
  margin: 0px 0px 50px 0px;
}
@media (max-width: 1080px) {
  .page .whoweare .whoweare__container .whoweare__body .whoweare__content {
    padding: 0px 0px 0px 35px;
  }
}
@media (max-width: 950px) {
  .page .whoweare .whoweare__container .whoweare__body .whoweare__content {
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .page .whoweare .whoweare__container .whoweare__body .whoweare__content > :not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}
.page .whoweare .whoweare__container .whoweare__body .whoweare__content .whoweare__top :not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.page .whoweare .whoweare__container .whoweare__body .whoweare__content .whoweare__top .whoweare__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 142.5%;
  letter-spacing: 0.2px;
}
@media (max-width: 950px) {
  .page .whoweare .whoweare__container .whoweare__body .whoweare__content .whoweare__top .whoweare__title {
    font-size: 24px;
  }
}
.page .whoweare .whoweare__container .whoweare__body .whoweare__content .whoweare__top .whoweare__text {
  color: #737373;
  line-height: 142.8571428571%;
}
.page .whoweare .whoweare__container .whoweare__body .whoweare__content .whoweare__items > :not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.page .whoweare .whoweare__container .whoweare__body .whoweare__content .whoweare__items .item-whoweare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page .whoweare .whoweare__container .whoweare__body .whoweare__content .whoweare__items .item-whoweare .item-whoweare__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
}
.page .whoweare .whoweare__container .whoweare__body .whoweare__content .whoweare__items .item-whoweare .item-whoweare__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}
.page .whoweare .whoweare__container .whoweare__body .whoweare__content .whoweare__items .item-whoweare .item-whoweare__body :not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.page .whoweare .whoweare__container .whoweare__body .whoweare__content .whoweare__items .item-whoweare .item-whoweare__body .item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.page .whoweare .whoweare__container .whoweare__body .whoweare__content .whoweare__items .item-whoweare .item-whoweare__body .item-whoweare__text {
  color: #737373;
  white-space: nowrap;
  line-height: 171.4285714286%;
  width: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page .page__clients {
  margin: 0px 0px 10px 0px;
}
.page .clients {
  padding: 50px 0;
}
@media (max-width: 767px) {
  .page .clients {
    padding: 30px 0;
  }
}
.page .clients .clients__container .clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page .clients .clients__container .clients__items .clients__item {
  padding: 8px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6667%;
          flex: 0 1 16.6667%;
  text-align: center;
  min-width: 140px;
}
.page .clients .clients__container .clients__items .clients__item img {
  max-width: 100%;
}
.page .subscribe {
  position: relative;
  padding: 0px 0px 20px 0px;
}
.page .subscribe::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 77px;
  left: 0;
  background: #252b42;
}
.page .subscribe .subscribe__body {
  position: relative;
  z-index: 2;
  margin: 0px 30px;
  padding: 30px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #17213c;
  border-radius: 2px;
}
@media (min-width: 1070px) {
  .page .subscribe .subscribe__body {
    margin: 0px 30px;
  }
}
@media (min-width: 810px) {
  .page .subscribe .subscribe__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 810px) {
  .page .subscribe .subscribe__body {
    margin: 0px -15px;
    padding: 20px 15px;
  }
}
.page .subscribe .subscribe__body .subscribe__title {
  color: #fff;
  font-size: 24px;
  line-height: 133.3333333333%;
  font-weight: 700;
  letter-spacing: 0.1px;
}
@media (max-width: 810px) {
  .page .subscribe .subscribe__body .subscribe__title {
    margin: 0px 0px 20px 0px;
  }
}
@media (min-width: 810px) {
  .page .subscribe .subscribe__body .subscribe__title {
    max-width: 266px;
  }
}
.page .subscribe .subscribe__body .subscribe__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page .subscribe .subscribe__body .subscribe__form .subscribe__input {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 58px;
  padding: 0px 20px;
  background: #F9F9F9;
  color: #737373;
  border: 1px solid #E6E6E6;
  border-radius: 5px 0 0 5px;
}
.page .subscribe .subscribe__body .subscribe__form .subscribe__input:focus {
  color: #000;
}
@media (max-width: 810px) {
  .page .subscribe .subscribe__body .subscribe__form .subscribe__input {
    padding: 0px 15px;
  }
}
.page .subscribe .subscribe__body .subscribe__form .subscribe__button {
  background: #FF7B47;
  border: 1px solid #E6E6E6;
  border-right: 0;
  border-radius: 0px 5px 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 58px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  color: #fff;
  padding: 0px 22px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.page .subscribe .subscribe__body .subscribe__form .subscribe__button:hover {
  background: #ca6137;
}
@media (max-width: 810px) {
  .page .subscribe .subscribe__body .subscribe__form .subscribe__button {
    padding: 0px 15px;
  }
}
.page .getintouch {
  padding: 80px 0px 135px 0px;
}
@media (max-width: 992px) {
  .page .getintouch {
    margin: 50px 0px;
  }
}
.page .getintouch .getintouch__container .getintouch__header {
  margin: 0px 0px 80px 0px;
}
@media (max-width: 992px) {
  .page .getintouch .getintouch__container .getintouch__header {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 767px) {
  .page .getintouch .getintouch__container .getintouch__header {
    margin: 0px 0px 30px 0px;
  }
}
.page .getintouch .getintouch__container .getintouch__items {
  margin: 0px -15px;
}
@media (min-width: 992px) {
  .page .getintouch .getintouch__container .getintouch__items {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.page .getintouch .getintouch__container .getintouch__items .getintouch__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.page .getintouch .getintouch__container .getintouch__items .item-getintouch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 50px 15px;
}
.page .getintouch .getintouch__container .getintouch__items .item-getintouch > *:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.page .getintouch .getintouch__container .getintouch__items .item-getintouch .item-getintouch__emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page .getintouch .getintouch__container .getintouch__items .item-getintouch .item-getintouch__emails .item-getintouch__email {
  color: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 171.4285714286%;
}
.page .getintouch .getintouch__container .getintouch__items .item-getintouch .item-getintouch__emails .item-getintouch__email:hover {
  text-decoration: underline;
}
.page .getintouch .getintouch__container .getintouch__items .item-getintouch .item-getintouch__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.page .getintouch .getintouch__container .getintouch__items .item-getintouch .item-getintouch__button {
  border: 1px solid #FF7B47;
  min-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FF7B47;
  line-height: 171.4285714286%;
  padding: 5px 20px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
}
.page .getintouch .getintouch__container .getintouch__items .item-getintouch .item-getintouch__button:hover {
  background-color: #FF7B47;
  color: #fff;
}
.page .getintouch .getintouch__container .getintouch__items .item-getintouch_active {
  background: #252B42;
  color: #fff;
  padding: 80px 15px;
}
@media (max-width: 992px) {
  .page .getintouch .getintouch__container .getintouch__items .item-getintouch_active {
    padding: 50px 15px;
  }
}
.page .getintouch .getintouch__container .getintouch__items .item-getintouch_active .item-getintouch__button {
  border: 1px solid #fff;
  color: #fff;
}
.page .contact {
  background-color: #fff;
  padding: 42px 0;
}
@media (min-width: 767px) {
  .page .contact .contact__container .contact__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.page .contact .contact__container .contact__body .contact__content {
  padding: 0px 0px 20px 0px;
}
@media (min-width: 767px) {
  .page .contact .contact__container .contact__body .contact__content {
    padding: 0px 20px 0px 0px;
  }
}
.page .contact .contact__container .contact__body .contact__content .contact__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
  line-height: 133.3333333333%;
}
.page .contact .contact__container .contact__body .contact__content .contact__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.page .contact .contact__container .contact__body .contact__content .contact__text {
  color: #737373;
  line-height: 171.4285714286%;
}
.page .contact .contact__container .contact__body .contact__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FF7B47;
  border-radius: 5px;
  min-height: 58px;
  padding: 5px 40px;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}
.page .contact .contact__container .contact__body .contact__button:hover {
  background-color: #aa5330;
}

/*_____________________________________________________________________________________________________*/
.footer .footer__top {
  background: #17213c;
  padding: 35px 0;
}
.footer .footer__top .footer__main .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}
.footer .footer__top .footer__main .footer__row .footer__column {
  padding: 15px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6667%;
          flex: 0 1 16.6667%;
}
.footer .footer__top .footer__main .footer__row .footer__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.334%;
          flex: 0 1 33.334%;
}
@media (max-width: 992px) {
  .footer .footer__top .footer__main .footer__row .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
  .footer .footer__top .footer__main .footer__row .footer__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 700px) {
  .footer .footer__top .footer__main .footer__row .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
.footer .footer__top .footer__main .footer__row .footer__column .footer__lable {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin: 0px 0px 20px 0px;
}
.footer .footer__top .footer__main .footer__row .footer__column .menu-footer .menu-footer_list .menu-footer__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.footer .footer__top .footer__main .footer__row .footer__column .menu-footer .menu-footer_list .menu-footer__item .menu-footer__link {
  color: #fff;
  display: inline-block;
  letter-spacing: 0.2px;
  line-height: 171.4285714286%;
}
.footer .footer__top .footer__main .footer__row .footer__column .menu-footer .menu-footer_list .menu-footer__item .menu-footer__link:hover {
  text-decoration: underline;
}
.footer .footer__top .footer__main .footer__row .footer__column .contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footer__top .footer__main .footer__row .footer__column .contacts-footer .contacts-footer__item {
  padding: 0px 0px 0px 34px;
  line-height: 171.4285714286%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  min-height: 30px;
}
.footer .footer__top .footer__main .footer__row .footer__column .contacts-footer .contacts-footer__item:hover {
  text-decoration: underline;
}
.footer .footer__top .footer__main .footer__row .footer__column .contacts-footer .contacts-footer__item:not(:last-child) {
  margin: 0px 0px 12px 0px;
}
.footer .footer__top .footer__main .footer__row .footer__column .contacts-footer .contacts-footer__item_phone {
  background: url(/img/footer/icons/01.svg) 0 0 no-repeat;
}
.footer .footer__top .footer__main .footer__row .footer__column .contacts-footer .contacts-footer__item_map {
  background: url(/img/footer/icons/02.svg) 0 0 no-repeat;
}
.footer .footer__top .footer__main .footer__row .footer__column .contacts-footer .contacts-footer__item_email {
  background: url(/img/footer/icons/03.svg) 0 0 no-repeat;
}
.footer .footer__bottom {
  padding: 25px 0;
}
.footer .footer__bottom .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .footer .footer__bottom .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer .footer__bottom .footer__copy {
  color: #737373;
  line-height: 171.4285714286%;
}
@media (max-width: 767px) {
  .footer .footer__bottom .footer__copy {
    margin: 0px 0px 15px 0px;
    text-align: center;
  }
}
.footer .footer__bottom .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer__bottom .social .social__item:not(:last-child) {
  margin: 0px 20px 0px 0px;
}